* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Onest', sans-serif;
  font-style: normal;
}

a {
  text-decoration: none;
}

body {
  background-color: rgba(3, 7, 18, 0.85);
  color: #ffffff;
}

/* Header */

.header {
  position: fixed;
  min-width: 370px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
  margin-top: 20px;
}

.header nav {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #000000;
}

.header p {
  color: #ffffff;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.header p:hover {
  font-weight: bold;
  transform: scale(1.1);
}

.header p.active {
  color: #d7d4ff;
  color: rgb(255, 255, 0, 0.8);
}

/* Home */

.home {
  min-width: 360px;
  padding: 0px 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerInfo {
  padding-top: 200px;
  padding-bottom: 100px;
  max-width: 670px;
  min-width: 370px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fotoPerfil-mini {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.disponible {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

h1 {
  font-size: 48px;
}

.containerInfo-nombre-trabajo {
  color: #000000;
  text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
  width: 200px;
  padding: 5px 10px;
  border-radius: 50px;
  text-align: center;
  font-weight: bold;
  background-color: #d7d4ff;
  transition: transform 0.2s ease-in-out;
}

.containerInfo-nombre-trabajo:hover {
  transform: scale(1.1);
}

.containerInfo-descripcion {
  max-width: 500px;
  font-size: 25px;
}

.containerInfo-descripcion span {
  color: rgb(255, 255, 0, 0.8);
}

.containerInfo-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}

.info-links {
  height: 40px;
}

.info-links a {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: rgb(0, 0, 0, 0.3);
  padding: 8px 15px;
  border-radius: 50px;
  color: #ffffff;
  transition: transform 0.2s ease-in-out;
}

.info-links a:hover {
  transform: scale(1.1);
}

.info-links-img {
  width: 20px;
  height: 20px;
}


/* Proyectos */

.containerProyectos {
  max-width: 670px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.containerProyectos-titulo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.containerProyectos-titulo img {
  width: 30px;
}

.containerProyectos-titulo h2 {
  font-size: 30px;
}

/* CardProyecto */

.cardProyecto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

}

.proyectoNombre {
  color: rgb(255, 255, 0, 0.8);
}

.cardProyecto-links-proyecto {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.cardProyectoImg {
  border-radius: 5px;
  min-width: 350px;
  max-width: 620px;
  width: 100%;
}

/* sobre mi */

.containerSobreMi {
  max-width: 670px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 50px;
  padding-bottom: 100px;
}

.sobremiTitulo {
  padding: 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.sobremiTitulo img {
  width: 30px;
}

.containerSobreMi-descripcion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.containerSobreMi-descripcion p {
  width: 80%;
  line-height: 1.5rem;
}

.containerSobreMi-descripcion img {
  width: 256px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 2px #d7d4ff;
  transform: rotate(-5deg);
}

@media (max-width:820px) {

  .containerSobreMi-descripcion {
    padding-top: 20px;
    flex-direction: column-reverse;
  }

}

@media (max-width:495px) {

  h1 {
    font-size: 37px;
  }

  .containerInfo {
    padding-top: 120px;
    padding-bottom: 50px;
  }

  .containerInfo-links {
    padding-top: 5px;
    justify-content: center;
  }

}